############################################
# Basically Ignore everything in the project except for Selected folders
*

############################################
# Selected folders to keep

# Config
!Config/
!Config/**/*

# Source
!Source/
!Source/**/*

# Content
#!Content/      #Paid LFS required
#!Content/**/*  #Paid LFS required

# Project
!*.uproject

# Git
!.gitignore
!.gitattributes
!LICENSE
!README.md
