############################################
# Basically Ignore everything in the project except for Selected folders
*

############################################
# Selected folders to keep

# Config
!Config/

# Source
!Source/

# Project
!*.uproject

# Git
!.gitignore
!.gitattributes
!LICENSE
!README.md
